.title {
  background-color: brown;
  padding: 5px 5px;
  color: white;
  height: 15vh;
  border: 5px solid blue;
  font-size: x-large;
}
.blocklonghorn {
  background-image: url(img/Texas\ Longhorns.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Raleway", sans-serif;
}
.span {
  font-size: larger;
  color: lightcoral;
}
.blockdirtroad {
  background-image: url(img/Texas\ Dirtroad.jpg);
  background-position: center;
  background-size: cover;
  margin-top;: 40px 600px 0px 600px;
  color: white;
  font-family: "Raleway", sans-serif;
}
.blockhills {
  background-image: url(img/Texas\ Hills\ &\ Mountains.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Raleway", sans-serif;
}
.blockbeach {
  background-image: url(img/Texas\ -\ Mustang\ Island.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Raleway", sans-serif;
}
.blockcity {
  background-image: url(img/Texas\ City.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Raleway", sans-serif;
}
.blockcapitol {
  background-image: url(img/Texas\ Capitol.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Raleway", sans-serif;
}
